KIRBY_CONFIG_PATH=./config.compose.local.yaml
KIRBY_HTTP_PORT=8000
KIRBY_GRPC_PORT=9000

MYSQL_PASSWORD=CHANGE_ME_MYSQL_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_MYSQL_ROOT_PASSWORD

REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD

MINIO_ROOT_USER=CHANGE_ME_MINIO_USER
MINIO_ROOT_PASSWORD=CHANGE_ME_MINIO_PASSWORD
